<?xml version="1.0" encoding="utf-8"?>
<settings>
    <category label="32020">
        <setting label="32002" type="labelenum" id="amountBackups" values="5|10|25|50" default="10" />
        <setting type="sep" />
        <setting label="32010" type="bool" id="notify" default="true" />
        <setting label="32011" type="bool" id="debug" default="false" />
    </category>
    <category label="32021">
        <setting label="32016" type="bool" id="onKodiStart" default="true" />
        <setting label="32015" type="bool" id="onPlayBackStopped" default="true" />
        <setting label="32017" type="labelenum" id="onHour" values="1|2|3|6|12|24|36|48|72" default="6" enable="eq(-1,true)" />
    </category>
</settings>